/* dashboard.css */
.main-content {
    max-width: 3000px; 
    margin: 0 auto;
    width: 100%;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background: #121212;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card {
    flex: 1 1 200px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.05);
    text-align: center;
    font-weight: 600;
    min-height: 180px;
    justify-content: center;
    align-items: center; 
    font-size: 24px; 
    display: flex;
}

.card:hover {
    transform: translateY(-8px);
    background: linear-gradient(135deg, #f7f7f7, #ffffff);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #d1d1d1;
    color: #222;
}

.section {
    display: none;
    margin-bottom: 30px;
}

.product-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    flex: 1 1 200px; 
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.05);
    text-align: center;
    min-width: 500px;
    box-sizing: border-box;
    font-weight: 600;
}

.product-image, .report-card .product-image {
    width: 100%;
    height: 120px;
    background: #e5e7eb;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #111827;
}

.product-actions button:hover {
    opacity: 0.8;
}

.product-actions button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin-right: 5px;
    transition: opacity 0.2s;
}



.view-details { background: #60a5fa !important; }
.update-status { background: #34d399 !important; }
.cancel-order { background: #f87171 !important; }

.report-revenue { background: #d1fae5 !important; }
.report-sales { background: #fef3c7 !important; }
.report-top { background: #fee2e2 !important; }
.report-growth { background: #e0e7ff !important; }


.charts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.chart-card {
    flex: 1;
    min-width: 300px;
    min-height: 400px; /* height sa chart container */
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-card canvas {
    width: 100% !important;
    height: 100% !important; /* height sa parent container mo-follow */
}

